<!doctype html>
<html>

<head>
    <title>
        facebook
    </title>
    <link href="images/566.jpg " rel="icon">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">


    <link rel="stylesheet" href="facebook.css" type="text/css">
</head>

<body>


    <div class="navbar">
        <div class="navbar-left">
            <img src="images/-11595349592mdhzsfgakx.png">

            <input type="text" placeholder="Search">
        </div>
        <div class="navbar-right">

            <img src="images/edef2f51-0840-40fd-b0c9-15090aba70ba.jpg">

            <li>Abhishek</li>
            <li>Home</li>
            <li>Find Friend</li>
            <li>Create</li>

            <div id="nav-icon"> <i class="fas fa-user-friends"></i>
                <i class="fab fa-facebook-messenger"></i>
                <i class="fas fa-bell"></i>
                <i class="fas fa-question-circle"></i>
                <i class="fas fa-caret-down"></i>
            </div>

        </div>

    </div>

    <div id="container">
        <div id="container-1"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat earum aperiam quos placeat enim, impedit minus odit id minima beatae officia ullam voluptatibus sapiente tempora consectetur unde architecto cum dicta asperiores quis tenetur aliquam
            ducimus ex. Dolorem doloribus esse corporis suscipit, ex, cupiditate tempore quaerat modi, fugiat et cumque assumenda sint consectetur alias molestias ab mollitia minus atque quod nulla! Molestiae fugit provident odit reiciendis officia suscipit
            voluptas nobis consequatur quidem cum quam maxime, voluptatem, ab eligendi consectetur deserunt mollitia, ad accusamus alias! Eaque unde aliquid deleniti, sunt veniam praesentium tempora quis dolores consequuntur quasi quisquam quidem excepturi
            alias quae labore laboriosam voluptates adipisci vero nisi iusto similique soluta quo illum nam. Molestiae dolorum quaerat, ratione architecto assumenda eaque nobis magnam ipsum modi voluptatibus inventore provident veritatis dignissimos iure
            consequuntur eos. Accusamus odio rerum dignissimos vero incidunt quibusdam quidem quaerat vel qui quos, nemo labore! Nemo laborum repellendus sed ratione fugit distinctio officiis quam voluptates architecto. Obcaecati neque molestiae fugiat
            quia fuga modi dolorem nostrum voluptates ea deserunt? </div>


        <div id="container-2">
            <div id="post">
                <div id="section-1">
                    Create post
                </div>

                <div id="section-2">
                    <img src="images/edef2f51-0840-40fd-b0c9-15090aba70ba.jpg">
                    <p>Write Something Here....</p>
                </div>

                <div id="section-3">
                    <div class="section-3-icon">
                        <img src="images/4449042.png" width="15%"> Photo/Video
                    </div>
                    <div class="section-3-icon"><img src="images/4458537.png " width="15% "> Tag Friends
                    </div>
                    <div class="section-3-icon"><img src="images/3129282.png " width="15% "> Feeling/Activ...

                    </div>
                    <div class="section-3-icon" style="width: 4%;padding-top:2%; ">
                        <img src="images/2311523.png " width="100% " height="50% ">
                    </div>
                </div>
            </div>

            <div id="story">
                <i class="fad fa-plus-circle"></i>

                <p>Add to your Story
                    <br>
                    <span style="color: rgb(95, 95, 95); font-size: 15px; font-weight: lighter;">Share a photo or video or write something</span></p>

            </div>

            <div id="post-section">
                <div id="post-section-1">
                    <div id="post-head"> <img src="images/edef2f51-0840-40fd-b0c9-15090aba70ba.jpg">
                        <p><span style=" color: rgb(52, 52, 153); font-weight: bold;"> Abhishek Goyal</span><br> Posted recently
                            <i class="fad fa-globe-europe" style="font-size: 20px; color: grey;"></i></p>
                    </div>
                    <div><i class="far fa-ellipsis-h"></i></div>
                </div>
                <div id="post-image">
                    <img src="images/Untitled-1.jpg"></div>

                <div id="post-section-2">
                    <p>I'm obsessed with you❤️🥂
                        <span style="color: rgb(42, 42, 189);">#Mahadev</span></p>
                    <p> <span style="color: rgb(45, 45, 185);">See Translation</span>
                    </p>
                </div>
            </div>
        </div>


        <div id=" container-3 ">

        </div>
    </div>
</body>

</html>