<!DOCTYPE html>
<html>
<head>
<title>
</title></head>
<body bgcolor="black" >
<br><br><img src="images/1.jpg" widht ="550" height="650" align="left">
<br><p align="center"  style="font-size:45px"><font face="Galins"color="white">HIE MUGGLES!</font></p>
<p align="center"style= "font-size:65px"><font face="Ringbearer"color="white">I'M HARRY POTTER</font></p>
<p align="center" style="font-size:35px"> <font face="Galins" color="white">THE GREAT WIZARD</font></p>

<p align="center"style="font-size:20px"><font color="white">Harry Potter is a series of seven fantasy novels written
by British author J. K. Rowling. The novels chronicle the lives of a young wizard, Harry Potter, and his friends Hermione 
Granger and Ron Weasley, all of whom are students at Hogwarts School of Witchcraft and Wizardry. The main story arc concerns 
Harry's struggle against Lord Voldemort, a dark wizard who intends to become immortal, overthrow the wizard governing body
known as the Ministry of Magic and subjugate all wizards and Muggles (non-magical people).</font></p>
<div style="text-align:center"><a href="ABOUT ME.html">CLICK FOR MORE INFORMATION</a></div>


</body></html>